*.*~
\#*
.\#*
.env
config.yml
package-lock.json
yarn.lock
yarn-error.log
node_modules
*.pyc

# Ignore .sql files
*.sql

# Ignore Python .venv folder
data/.venv

# Ignore AdminJS build files
.adminjs/

# Ignore data store
data/store

# Build files
client/build

data/builder/__pycache__/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
