.climate-summary .horiz-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
}

.climate-summary .vert-container {
    text-align: center;
    margin-bottom: 1em;
    width: 50%;
    line-height: 1.6;
}

@media (min-width: 1000px) {
    .climate-summary .vert-container {
        width: 20%;
    }
}

.climate-summary .vert-container .climate-arrow {
    margin-bottom: 0.5em;
}

.climate-icon-wrapper {
    position: relative;
    display: inline-block;
}

.climate-icon-button svg,
.climate-icon-wrapper svg {
    display: block;
    overflow: visible;
    shape-rendering: geometricPrecision;
}

@media (hover: none) {
    .climate-icon-button svg {
        pointer-events: none;
    }
}

.summary-text {
    width: 12em;
    font-size: 75%;
}

.summary-name-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-header-text);
}

.summary-text .help-popover-container {
    display: inline;
}

.summary-text .help-popover-trigger {
    padding: 0;
}

.climate-icon-button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
    line-height: 0;
}

/* optional, only if you want to pad the details area */
.climate-selected-details,
.climate-details-placeholder {
    margin-top: 1em;
}

.climate-details-placeholder {
    text-align: center;
}

.climate-selected-details h2 {
    margin-top: 0;
}

.climate-icon-button:hover {
    background: none;
    color: inherit;
    border: none;
}

.climate-icon-button:disabled {
    cursor: default;
    pointer-events: none;
}

.climate-selected-details .horiz-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: left;
}

.climate-selected-details .vert-container {
    display: flex;
    text-align: center;
    margin-bottom: 1em;
    width: 50%;
    line-height: 1.6;
}

@media (min-width: 1000px) {
    .climate-selected-details .vert-container {
        width: 25%;
    }
}
