.climate-summary .horiz-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: wrap;
    /*    justify-content: center; */
}

.climate-summary .vert-container {
    text-align: center;
    margin-bottom: 1em;
    width: 50%;
    line-height: 1.6;
}

@media (min-width: 1000px) {
    .climate-summary .vert-container {
        width: 20%;
    }
}

.climate-summary .vert-container .climate-arrow {
    margin-bottom: 0.5em;
}

.summary-text {
    width: 12em;
    font-size: 75%;
}

.climate-icon-button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
}


/* optional, only if you want to pad the details area */
.climate-selected-details,
.climate-details-placeholder {
    margin-top: 1em;
    padding: 1em;
    border-top: 1px solid #ccc;
}

.climate-selected-details h2 {
    margin-top: 0;
}

.climate-icon-button:hover {
    background: none;
    color: inherit;
    border: none;
}

.climate-icon-button:disabled {
    cursor: default;
    pointer-events: none;
}

.climate-selected-details .horiz-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left
}

.climate-selected-details .vert-container {
    display: flex;
    text-align: center;
    margin-bottom: 1em;
    width: 25%;
    line-height: 1.6;
}
